{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Leonard's Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/collaboration.png') }}" alt="Collaboration Skills">
                    <div class="card-body">
                    <h5 class="card-title">Collaboration is important in this class and beyond. I'll list the most important things I've learned so far.</h5>
                    <p class="card-text">
                        <ol>
                            <li>In groups, tasks should always be delegated so it's clear to all members who's responsible for what</li>
                            <li>Set checkpoints for the delegated tasks, and lean on the rigid side. People respond well to a challenge.</li>
                            <li>This one's a time saver. If a group member is stuck on a problem, refer them to a guide if you remember the solution showing up there.</li>
                            <li>Actually trust the group members to do their part! (in other words don't stress yourself by doing <em>everything.</em></li>
                            <li>Don't be afraid to ask other group members or teachers for help if needed!</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/status.png') }}" alt="Expos Interview Project Instructions" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Recent Activities (both in this class and elsewhere)</h5>
                    <p class="card-text">
                        <ol>
                            <li>I got this website up and pieced together a Night at the Museum Project concept with my group!</li>
                            <li>In Calculus BC, I am currently learning about relative/absolute extrema and applications to geometry via optimization!</li>
                            <li>I was just assigned an interview project about myself in Expos class. This is to simulate John Krakauer's interviews for the work we are currently reading, <em>Into the Wild</em>.</li>
                            <li>In that class, I also completed a first draft of a college essay. There will be a lot to improve.</li>
                            <li>Two-dimensional motion and vectors abound in AP Physics C Mechanics. We also introduced force for the first time in calculations with a recent lab.</li>
                            <li>Other things: Recently delivered a presentation in one of my clubs.</li>
                        </ol>
                        As you can see, mostly school work and college prep. If anything else notable happens, I guess I'll update this.
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/fastpage.png') }}" alt="An article from my FastPage website" height="250">
                    <div class="card-body">
                    <h5 class="card-title">My Other Websites</h5>
                    <p class="card-text"> I have been maintaining a FastPages website as well. It has the greater portion of my current projects (including working with functions and loops in Python, some JavaScript code, and other projects).</p>
                    <p class="card-text">I also have a <a href="https://github.com/Leonard514">GitHub</a> with all of my repository work and a <a href="https://www.youtube.com/channel/UCNy-EIC-T3dV6In5aIC04DQ">youtube channel</a> for comp-sci related videos</p>
                    <a href="https://leonard514.github.io/FastPage/" class="btn btn-primary">Check out my other website!!</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}